[Desktop Entry]
Encoding=UTF-8
Name=ii-client-qt
Comment=Client for ii network (qt)
Comment[ru]=Клиент для сетей ii (qt)
Exec=ii-client-qt
Icon=iilogo
Terminal=false
Type=Application
Categories=Qt;KDE;Network;
StartupNotify=true
